<!DOCTYPE html>
<html lang="en">
<head>
<title>Appen</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="static/favicon.ico">
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/touchTouch.css">
<link rel="stylesheet" href="static/stuck.css">
<link rel="stylesheet" href="static/style.css">
<style type="text/css">
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#top .grid_12 .ta__center {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tmStickUp.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/touchTouch.jquery.js"></script>
<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();
});
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/static/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/ie.css">
<![endif]-->
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
       <div class="navigation">
        <div class="grid_12">  
         <nav>
         <a href="/">
         <h1><span style="font-family:  font-weight: normal; font-size: xx-large;">
         <br>
         MIN TRÄDGÅRD </span>
  <p><span style="font-style: italic; font-size: x-large; ">trädgårdsappen</span></p>
</h1></a>
          
     <!--<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1><span style="font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; font-weight: normal; font-size: xx-large;">TRÄDGÅRDSAPPEN </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">allt om trädgård</span></p>
  <!--<a href="index.html">
           Trädgsårdsappen <!--<img src="static/logo.png" alt="Logo alt">
          </a>-->
        </h1>
         <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="/">Hem</a></li>
               <li><a href="/omoss">Om oss</a></li>
               <li class="current"><a href="/appen">Appen</a></li>
               <li><a href="/omprojektet">Om projektet</a></li>
               <li><a href="/hittaoss">Hitta oss</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
<div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Appen</h3>
      </div>
      <!--<div class="gallery">
        <div class="grid_4">
          <a href="static/big1.jpg" class="gall_item"><img src="static/alltomtradgardintro.png" alt=""></a>
        <div class="text1"><a href="#"><!--Lueiverra Mertolo Derto</a></div>-->
          <!--Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto-->
        </div>
        <div class="grid_4">
          <!--<a href="static/premnr.png" class="gall_item">--><img src="static/premnr.png" alt=""></a>
          <!--<div class="text1"><a href="#">Keiverra Mertolo Terto</a></div>
          Detconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertt
        </div>
        <div class="grid_4">
          <a href="static/big3.jpg" class="gall_item"><img src="static/page3_img3.jpg" alt=""></a>
          <div class="text1"><a href="#">Saeerra Gertolo Lertor</a></div>
          Nametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp saderttor
        </div>
        <div class="clear sep__4"></div>
        <div class="grid_4">
          <a href="static/big4.jpg" class="gall_item"><img src="static/page3_img4.jpg" alt=""></a>
          <div class="text1"><a href="#">Jeiverra Lertolo Derto</a></div>
          Msit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sad
        </div>
        <div class="grid_4">
          <a href="static/big5.jpg" class="gall_item"><img src="static/page3_img5.jpg" alt=""></a>
          <div class="text1"><a href="#">Nueiverra Bertolo Herto</a></div>
          Nosit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp
        </div>
        <div class="grid_4">
          <a href="static/big6.jpg" class="gall_item"><img src="static/page3_img6.jpg" alt=""></a>
          <div class="text1"><a href="#">Julieiverra Vertolo Merto</a></div>
          Vsit ametconsecteturertolom  werto monikosit ameterto ultricies erateroli me rutruma auctorerttu terolp satto
        </div>
        <div class="clear sep__4"></div>
        <div class="grid_4">
          <a href="static/big7.jpg" class="gall_item"><img src="static/page3_img7.jpg" alt=""></a>
          <div class="text1"><a href="#">Lueiverra Gertolo Merto</a></div>
          Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto
        </div>
        <div class="grid_4">
          <a href="static/big8.jpg" class="gall_item"><img src="static/page3_img8.jpg" alt=""></a>
          <div class="text1"><a href="#">Mueiverra Fertolo Serto</a></div>
          Neit ametconsecteturertolom  werto monikosit ameterto ultricies erateroli me rutruma auctorerttu terolp serttno
        </div>
      </div>
    </div>
  </div>-->
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
       <!--behöver vi verkligen dem här? Funkar iaf inte-->
        <!--<div class="socials">
        <br>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>-->
        
<figure><figcaption>I samarbete med</figcaption><br>
        <img src="static/AOTgrey.jpg"  alt="" width="221" height="75"/><!--blev fult kodad med massa &nbsp; men får se om jag hittar en bättre lösning --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="static/kth_logga.jpg"  alt="" width="69" height="69"/>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <img src="static/Bonnier_normal_BLACK.jpg"  alt="" width="247" height="61"/></figure>
      
        <!--<div class="copyright"> <span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> 
          <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
       </div>
  </div>
</footer>
</body>
</html>-->
