<!DOCTYPE html>
<html lang="en">
<head>
<title>Hem</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="static/favicon.ico">
<link rel="shortcut icon" href="../static/favicon.ico">
<link rel="stylesheet" href="../static/stuck.css">
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/ihover.css">
<style type="text/css">
#top .content .container .row .grid_12 .ta__center h2 {
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif;
}
#top .content .container .row .grid_12 .ta__center h2 {
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
}
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#top .content .container .row .grid_12 .head1 {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tmStickUp.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  });
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/static/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
<!--[if lt IE 10]>
<link rel="stylesheet" media="screen" href="css/ie1.css">
<![endif]-->
</head>
<body class="page1" id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
 <!-- <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
</h1>
<!--	<br>
		<br>
       <h1><span style="font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; font-weight: normal; font-size: xx-large;">TRÄDGÅRDSAPPEN </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">allt om trädgård</span></p>-->
  <!--<a href="index.html">
           Trädgsårdsappen <!--<img src="static/logo.png" alt="Logo alt">
          </a>-->
           <section id="stuck_container">
    <div class="container">
      <div class="row">
       <div class="navigation">
        <div class="grid_12">  
         <nav>
         <a href="/">
         <h1><span style="font-family:  font-weight: normal; font-size: xx-large;">
         <br>
         MIN TRÄDGÅRD </span>
  <p><span style="font-style: italic; font-size: x-large; ">trädgårdsappen</span></p>
</h1></a>
          
          
        </h1>
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li class="current"><a href="/">Hem</a></li>
               <li><a href="/omoss">Om oss</a></li>
               <li><a href="/appen">Appen</a></li>
               <li><a href="/omprojektet">Om projektet</a></li>
               <li><a href="/hittaoss">Hitta oss</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="ta__center">
          <h2>ID1003 Projekt IT</h2>
          <div class="st1"><span class="color1">Välkommen</a></span> till projekthemsidan för applikationen MIN TRÄDGÅRD. <!--<br> Find a bunch of alike <span class="color1"><a href="http://www.templatemonster.com/properties/topic/design-photography/" rel="nofollow">designs</a></span> at TemplateMonster’s website.--></div>
          
          
          <div class="banners">
            <a href="/omprojektet" class="banner">
              <img src="static/Kopia av logingscreen.jpg" alt="">
            <div class="bann_capt"><span>Projektet</span></div>
            </a>
            <a href="/appen" class="banner">
              <img src="static/omappen.jpg" alt="">
            <div class="bann_capt"><span>Om appen</span></div>
            </a>
            <a href="/omoss" class="banner">
              <img src="static/oceanus tuplis.jpg" alt="">
            <div class="bann_capt"><span>Om oss</span></div>
            </a>
            <a href="hittaoss" class="banner">
              <img src="static/kthny.jpg" alt="">
              <div class="bann_capt"><span>Hitta oss</span></div>
            </a>
          </div>
          <!--<div class="clear"></div>
          <h3>About Us</h3>
          <div class="row">
            <div class="grid_8 preffix_2">
              <div class="st1">Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat sit amet ultricies erat rutruma auctor, leo magna Integer convallis orci vel mi laoreet, at ornare lorem consequat.</div>
              <a href="#" class="btn">more</a>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear sep__1"></div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="head1">Senaste nytt</h3>
      </div>
      <br>
      <div class="grid_6">
        <!--<img src="static/page1_img1.jpg" alt="" class="img_inner fleft">-->
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">13 Maj</time>
            <a href="/omprojektet">Projektmässa</a>
          </div>
        Den 13:e Maj är det projektmässa  där vi kommer visa upp vår produkt, trädgårdsappen allt om trädgård. Projektmässan kommer ske på KTH Kista, Electrum, Kistagången 16(får vi verkligen skriva så här?) (Bild på en sida i appen eller någon typ av mässa)</div>
        <div class="clear"></div>
      </div>
      <div class="grid_6">
        <!--<img src="static/page1_img2.jpg" alt="" class="img_inner fleft">-->
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">14 April</time>
            <a href="/omprojektet">Projektstart</a>
          </div>
          Nu är det dags! Efter två veckor av förberedelser är det äntligen tid att börja med projektet. Första dagen ska dokumenthantering, tidrapportering och organisation av arbetsplatsen göras. Samt ska roller och rutiner utdelas.(här kan vi ha en bild på ett schema som vi bara klistrar in eller en startknapp)</div>
        <div class="clear"></div>
        </div>
        <br>
        <div class="grid_6">
        <br>
         <!--<img src="static/page1_img1.jpg" alt="" class="img_inner fleft">-->
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">26 Mars</time>
            <a href="/omprojektet">Val av projekt</a>
          </div>
          Deadline för att välja projektuppgift samt en kort beskrivning av projektet.
        (här kan vi ha en bild på antingen allt om trädgård eller på ett frågetecken)</div>
        <div class="clear"></div>
      </div>
      <div class="grid_6">
      <br>
         <!--<img src="static/Introduktion.jpg" alt="" class="img_inner fleft">-->
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">23 Mars</time>
            <a href="/omprojektet">Introduktion</a>
          </div>
        Kursintroduktion och förklaring om vad projektet går ut på. Idag förklaras vad som skall göras och vad som förväntas av projektgrupperna inför det kommande arbetet.    
        </div>
        <div class="clear"></div>
      </div>
      </div>
    </div>
  </div>
  <!--<div class="clear sep__1 sp__1"></div>
 <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Featured Projects</h3>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/circ_img1.jpg" alt="img"></div>
        <div class="info">
          <h3>Taxi Company</h3>
          <p>learn more</p>
        </div></a></div>      
        </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/circ_img2.jpg" alt="img"></div>
        <div class="info">
          <h3>Mod Portfolio</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/circ_img3.jpg" alt="img"></div>
        <div class="info">
          <h3>Marathon</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/circ_img4.jpg" alt="img"></div>
        <div class="info">
          <h3>Travel Agency</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
    </div>
  </div>-->
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
       <!--behöver vi verkligen dem här? Funkar iaf inte-->
        <!--<div class="socials">
        <br>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>-->
        
        <figure><figcaption>I samarbete med</figcaption><br>
        <img src="static/AOTgrey.jpg"  alt="" width="221" height="75"/><!--blev fult kodad med massa &nbsp; men får se om jag hittar en bättre lösning --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="static/kth_logga.jpg"  alt="" width="69" height="69"/>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <img src="static/Bonnier_normal_BLACK.jpg"  alt="" width="247" height="61"/></figure>
  
        
<!--<div class="copyright"> <span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> 
          <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
       </div>
  </div>
</footer>
</body>
</html>
