<!DOCTYPE html>
<html lang="en">
<head>
<title>Om oss</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="../static/favicon.ico">
<link rel="shortcut icon" href="../static/favicon.ico">
<link rel="stylesheet" href="../static/stuck.css">
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/ihover.css">
<style type="text/css">
#top .content .container .row .grid_12 .ta__center h3 {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
<script src="../js/jquery.js"></script>
<script src="../js/jquery-migrate-1.1.1.js"></script>
<script src="../js/script.js"></script>
<script src="../js/superfish.js"></script>
<script src="../js/jquery.equalheights.js"></script>
<script src="../js/jquery.mobilemenu.js"></script>
<script src="../js/jquery.easing.1.3.js"></script>
<script src="../js/tmStickUp.js"></script>
<script src="../js/jquery.ui.totop.js"></script>
<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  });
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/static/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/ie.css">
<![endif]-->
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
   <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
         <h1><span style="font-family:  font-weight: normal; font-size: xx-large;"><br>MIN TRÄDGÅRD </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">trädgårdsappen</span></p>
     <!--<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1><span style="font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; font-weight: normal; font-size: xx-large;">TRÄDGÅRDSAPPEN </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">allt om trädgård</span></p>
  <!--<a href="index.html">
           Trädgsårdsappen <!--<img src="static/logo.png" alt="Logo alt">
          </a>-->
        </h1>
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="/">Hem</a></li>
               <li class="current"><a href="/omoss">Om oss</a></li>
               <li><a href="/appen">Appen</a></li>
               <li><a href="/omprojektet">Om projektet</a></li>
               <li><a href="/hittaoss">Hitta oss</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>

<!--NY OM OSS FRÅN HEM SOM ÄR BORTKOMMENTERAT DÄR-->
<div class="container">
    <div class="row">
      <div class="grid_12">
      <div class="ta__center">
        <h3>Om oss</h3>
      </div>
       <br>
      <div class="st1">
       Vi är en grupp om sju studenter som pluggar/studerar och är i slutet av det andra året  på den Kungliga Tekniska Högskolans Civilingenjörsprogram med inriktning Informationsteknik. 
       </div> <br></div class="ta__center">
      
      
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/1 (kopia).jpg" alt="img"></div>
        <div class="info">
        <br><br>
          <h3>Daniel Freberg</h3>
          <p>dfreberg@kth.se</p>
        </div></a></div>      
      </div>
        
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/3 (kopia).jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Erik Nordell</h3>
          <p>enordell@kth.se</p>
        </div></a></div>
      </div>
      
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/IMG_4154.jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Esra Kahraman</h3>
          <p>esrak@kth.se</p>
        </div></a></div>
      </div>
      
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/5 (kopia).jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Felicia Schnell</h3>
          <p>fschnell@kth.se</p>
        </div></a></div>
      </div>
        
       
        <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/IMG_1115 (kopia).jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Marcus Elwin</h3>
          <p>elwi@kth.se</p>
        </div></a></div>  
        </div>
        
        <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/IMG_4194.jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Mikael Mölder</h3>
          <p>mmolder@kth.se</p>
        </div></a></div>  
        </div>
         
        <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="static/IMG_1809 (kopia).jpg" alt="img"></div>
        <div class="info">
         <br><br>
          <h3>Oscar Melin</h3>
          <p>oscarme@kth.se</p>
        </div></a></div>  
      </div>
 </div>   
        </div>    
        </div>
      </div>
    </div>
  </div>
</section>





<!--HÄR ÄR DET GAMLA UTSEENDET OM OSS-->

 <!-- <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Om oss</h3>
     </div>
      <div class="grid_6">
        <div class="block1">
          <img src="static/page2_img1.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Quisque viverra</a></div>
            <p>Dipsum dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertlo
          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="static/page2_img2.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Isque viverratte</a></div>
            <p>Sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          </div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_6">
        <div class="block1">
          <img src="static/page2_img3.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Kuisque iverram</a></div>
            <p>Dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertl
          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="static/page2_img4.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Kouisque erramer</a></div>
            <p>Mipsum dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli monikertloe
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear sep__1 sp__2"></div>
  <div class="container">
    <div class="row">
      <div class="grid_7">
        <h3>Custom Content Management</h3>
        <img src="static/page2_img5.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1"><a href="#">Lueiverra Mertolo Derto</a></div>
          <p>Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
          Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          <br>
          <a href="#" class="btn">more</a>
        </div>
        <div class="clear sep__3"></div>
        <img src="static/page2_img6.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1"><a href="#">Lueiverra Mertolo Derto</a></div>
          <p>Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
          Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          <br>
          <a href="#" class="btn">more</a>
        </div>
      </div>
      <div class="grid_4 preffix_1">
        <h3>Why Choose Us?</h3>
        <p>Besit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter lom</p>
        <ul class="list color1">
          <li><a href="#">Besit ametconsecteturertolom  werto monikosit </a></li>
          <li><a href="#">Amet ultricies erateroli me rutruma auctorerttu </a></li>
          <li><a href="#">Terolp sadertto mertoInteger convawertolo  </a></li>
          <li><a href="#">Amertoloolaoreetatwertlim wernom fertolom </a></li>
          <li><a href="#">Dolor sit amsecteturertolom  lid be</a></li>
          <li><a href="#">Moniko lomon dertlosit amet ultricies erater </a></li>
          <li><a href="#">Rutruma auctorert retlomoni molokintromoli</a></li>
          <li><a href="#">Convallis orci vel mi laoreetat terolo </a></li>
        </ul>
        Fmetconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter
      </div>
    </div>
  </div>
</section>-->
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
       <!--behöver vi verkligen dem här? Funkar iaf inte-->
        <!--<div class="socials">
        <br>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>-->
        
        <figure><figcaption>I samarbete med</figcaption><br>
        <img src="static/AOTgrey.jpg"  alt="" width="221" height="75"/><!--blev fult kodad med massa &nbsp; men får se om jag hittar en bättre lösning --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="static/kth_logga.jpg"  alt="" width="69" height="69"/>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <img src="static/Bonnier_normal_BLACK.jpg"  alt="" width="247" height="61"/></figure>
        
        <!--<div class="copyright"> <span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> 
          <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
       </div>
  </div>
</footer>
</body>
</html>-->
