<!DOCTYPE html>
<html lang="en">
<head>
<title>Om projektet</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="static/favicon.ico">
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/stuck.css">
<link rel="stylesheet" href="static/style.css">
<style type="text/css">
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#top .row .grid_12 .ta__center {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
#top header #stuck_container .container .row .grid_12 h1 span {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
</style>
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tmStickUp.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
});
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/static/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/ie.css">
<![endif]-->
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
   <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
         <h1><span style="font-family:  font-weight: normal; font-size: xx-large;"><br>MIN TRÄDGÅRD </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">trädgårdsappen</span></p>
          
          
        <!--<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1><span style="font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; font-weight: normal; font-size: xx-large;">TRÄDGÅRDSAPPEN </span>
  <p><span style="font-style: italic; font-size: x-large; text-align: left;">allt om trädgård</span></p>
  <!--<a href="index.html">
           Trädgsårdsappen <!--<img src="static/logo.png" alt="Logo alt">
          </a>-->
        </h1>
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="/">Hem</a></li>
               <li><a href="/omoss">Om oss</a></li>
               <li><a href="/appen">Appen</a></li>
               <li class="current"><a href="/omprojektet">Om projektet</a></li>
               <li><a href="/hittaoss">Hitta oss</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
<div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Om projektet</h3></div></div class="ta__center">
        
      <!--NYA DESIGNEN SOM ANVÄNDS-->
      
      <div class="st1">
      Denna kurs består genomgående av ett projektarbete; utveckling av en multimedia-applikation (eller annan projektuppgift efter samråd med kursansvarig). I enlighet med kursens mål bygger projektarbetet på följande byggstenar:

Projekt multimediacenter (eller alternativ projektuppgift)
Lättrörlig programvaruutveckling i grupp (6-10 pers) 
</section>
      
       <!--GAMLA DESIGNEN-->
        
       <!-- <div class="blog">
            <div class="text1"><a href="#">Lueiverra Mertolo Dertomertolino Mel</a></div>
            <div class="blog_links">Submitted by
              <a href="#">Admin</a> on
              <time datetime="2014-01-01">11 June, 2014</time>
            </div>
            <img src="static/page4_img1.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
              <p>Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
              Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertlosit amet ultricies erat rutruma auctorert
              <br>
              <a href="#" class="btn">more</a>
            </div>
          </div>
          <div class="blog">
            <div class="text1"><a href="#">Hoeiverra Tertolo Gertomertolino </a></div>
            <div class="blog_links">Submitted by
              <a href="#">Admin</a> on
              <time datetime="2014-01-01">14 June, 2014</time>
            </div>
            <img src="static/page4_img2.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
              <p>Koletconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
              Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertlosit amet ultricies erat rutruma auctorerte
              <br>
              <a href="#" class="btn">more</a>
            </div>
          </div>
          <div class="blog">
            <div class="text1"><a href="#">Mertolo Dertomertolino Melonwe</a></div>
            <div class="blog_links">Submitted by
              <a href="#">Admin</a> on
              <time datetime="2014-01-01">18 June, 2014</time>
            </div>
            <img src="static/page4_img3.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
              <p>Gerit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
              Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertlosit amet ultricies erat rutruma aucto
              <br>
              <a href="#" class="btn">more</a>
            </div>
          </div>
      </div>
      <div class="grid_4 preffix_1">
        <h3>Search</h3>
        <form id="search" action="search.php" method="GET">
        <div class="rel">
          <label>
            <input type="text" name="s">
          </label>
          <a onClick="document.getElementById('search').submit()" class=""></a>
        </div>
         <div class="clear"></div>
       </form>
       <h3>Categories</h3>
       <ul class="list color1">
         <li><a href="#">Besit ametconsecteturertolom  werto monikosit </a></li>
         <li><a href="#">Amet ultricies erateroli me rutruma auctorerttu </a></li>
         <li><a href="#">Terolp sadertto mertoInteger convawertolo  </a></li>
         <li><a href="#">Amertoloolaoreetatwertlim wernom fertolom </a></li>
         <li><a href="#">Dolor sit amsecteturertolom  lid be</a></li>
         <li><a href="#">Moniko lomon dertlosit amet ultricies erater </a></li>
         <li><a href="#">Rutruma auctorert retlomoni molokintromoli</a></li>
         <li><a href="#">Convallis orci vel mi laoreetat terolo </a></li>
       </ul>
       <h3>Poll</h3>
       <ul class="rate">
         <li>
           <span>Super</span>
           <span>39%</span>
           <div class="bar">
             <div class="scale"></div>
           </div>
         </li>
         <li>
           <span>Good</span>
           <span>31%</span>
           <div class="bar">
             <div class="scale"></div>
           </div>
         </li>
         <li>
           <span>Normal</span>
           <span>20%</span>
           <div class="bar">
             <div class="scale"></div>
           </div>
         </li>
         <li>
           <span>Bad </span>
           <span>11%</span>
           <div class="bar">
             <div class="scale"></div>
           </div>
         </li>
       </ul>
      </div>
    </div>
  </div>
</section>-->

<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
       <!--behöver vi verkligen dem här? Funkar iaf inte-->
        <!--<div class="socials">
        <br>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>-->
        
        <figure><figcaption>I samarbete med</figcaption><br>
        <img src="static/AOTgrey.jpg"  alt="" width="221" height="75"/><!--blev fult kodad med massa &nbsp; men får se om jag hittar en bättre lösning --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="static/kth_logga.jpg"  alt="" width="69" height="69"/>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <img src="static/Bonnier_normal_BLACK.jpg"  alt="" width="247" height="61"/></figure>
        
      <!--  <div class="copyright"> <span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> 
          <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
       </div>
  </div>
</footer>
</body>
</html>-->
